*{
	padding: 0;
	margin: 0;
}

body{
	font-size: 100%;

}


.floor1{}
/*start menu*/

.main{
  width:100%;	
  padding-top:15px; 
  list-style-type: none;
  color: #FFF;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.25);
  line-height: 3em;
  position: fixed;
  background: rgba(190,220,250,0.25);
  border-top: 1px solid rgba(250,253,255,0.2);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  border-radius: 3px;
}



.main:before {
  z-index: -1;
  top: 0; right: 0; left: 0;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

.main:hover { box-shadow: 0px 0px 5px rgba(0,0,0,0.4); }



.main li{
	padding-right: 60px;
    position: relative;
}

.main li:first-child{
  padding-right: 100px;
}

.main li a{
	text-decoration: none;
	display: block;
	font-size: 1.4em;
	font-family: compset;
  line-height: 1em;
color: #fff9d6;
font-weight:bold;
text-shadow:0px 0px 0 rgb(231,231,231),1px 1px 0 rgb(216,216,216),2px 2px 0 rgb(202,202,202),3px 3px 0 rgb(187,187,187),4px 4px 0 rgb(173,173,173),5px 5px 0 rgb(158,158,158), 6px 6px 0 rgb(144,144,144),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
}

.lil{
	padding-left: 30px;
	font-family:  'Lobster', 'cursive';
  color: #fff9d6;

}
 /*start submenu*/
.main .submenu{
  position: absolute;
 list-style-type: none;
  right:100%;
  top:300%;
  min-width:100%;
  opacity: 0;
  pointer-events:none;
  transition:all 550ms;
  -webkit-transform:rotate(45deg);
}


.main li:hover > .submenu{
  opacity: 1;
  pointer-events:auto;
  right:10%;
  top:150%;
  transition:all 500ms;
  -webkit-transform:rotate(0deg);
}
.main li li{
  margin-bottom: 2px;
 direction: rtl;
 line-height: 1.2;
 white-space: nowrap; 
 background-color: rgba(149, 165, 166,0.4);
 font-size:1em ;
 font-family:farnaz;
 text-shadow:1px 1px 1px black;
 border-radius: 3px;
}

.main li .img{
  font-family: 'Lobster', cursive;
  font-size: 1em;
}

/*end menu*/

.box1{
	height: 700px;
	background-image: url('image/f1a.jpg');
	background-size: cover;
	background-position: center center;
}